*{
    margin: 0;
    padding: 0;
}
body, html{
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: whitesmoke;
}

header table{
    background-color:#778899 ;
    box-shadow: 7px 7px 13px 0 rgba(50,50, 50, 0.22);
    text-align: center;
    width: 100%;
    height: 60px;
}

table a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
}

main span h1{
    color: rgb(39, 36, 36);
    font-family: Montserrat, sans-serif;
    font-size: max(40px,4vw);
    font-weight: 300;
    text-align: start;
    margin: 20px;
    padding: 20px;
}

main span h3{
    color: rgb(39, 36, 36);
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: max(20px 4vw);
    font-weight: 400;
    margin: 30px;
    padding: 10px;
}

.destino{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.destino img{
    width: 200px;
    border-radius: 5px;
}

.formulario{
    margin: 10px;
    padding: 10px;
}

.botao{
    margin: 10px;
    padding: 10px;
}


.rodape{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}